.container{
  display: flex;
flex-direction: column;
  background-color: rgb(2, 50, 92);
  height: 100%;
  margin: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px 30px;
}
.content{
  background-color: aliceblue;
  width:24rem;
margin-right:0;

}
h1.heading-name{
  margin-top:0px;
}

.img{
  width: 24rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 0px;
}
html{
  display: inline-block;
}